<!-- Top Bar -->
<div class="top-bar d-none d-lg-block d-md-block">
    <div class="container">
        <div class="row">

            <!-- Top menu -->
            <div class="col-lg-6">

            </div>

            <!-- Socials -->
            <div class="col-lg-6 right">
                <ul class="top-menu top-menu-right">
                    
                        <li class="domain">
                            <a href="https://sv.zarnews.uz/">Самаркандский вестник {{salom}}</a>
                        </li>
                        <li>
                            <a href="/contact">Хабар жўнатинг</a>
                        </li>

                                                    <li>
                                <a href="/uz">O'zbekcha</a>
                            </li>
                        
                    
                </ul>
            </div>

        </div>
    </div>
</div> <!-- end top bar -->
<!-- Navigation -->
<header class="nav">
    <div class="nav__holder nav--sticky">
        <div class="container relative">
            <div class="flex-parent">
                <!-- Side Menu Button -->
                <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
                    <span class="nav-icon-toggle__box">
                      <span class="nav-icon-toggle__inner"></span>
                    </span>
                </button>

                <!-- Logo -->
                <a href="/" class="logo">
                                        <img class="logo__img" src="https://static.zarnews.uz/assets/75af35c9/img/logo_zarafshon.png"
                         alt="Zarafshon">
                </a>

                <!-- Nav-wrap -->
                <nav class="flex-child nav__wrap d-none d-lg-block">
                    <ul class="nav__menu">
                        <li>
                            <a href="/yangiliklar" class="feed">
                              <span class="nav-icon-toggle__box">
                                <span class="nav-icon-toggle__inner"></span>
                              </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://zarnews.uz/dolzarb">Долзарб</a>
                        </li>
                        <li class="nav__dropdown">
                            <a href="https://zarnews.uz/yangiliklar">Янгиликлар</a>
                                                                    <ul class="nav__dropdown-menu">
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/samarqand">
                                                    Самарқанд                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/ozbekiston">
                                                    Ўзбекистон                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/xorij">
                                                    Хориж                                                </a>
                                            </li>
                                                                            </ul>
                                                            </li>
                                                                                <li class="">
                                <a href="https://zarnews.uz/siyosat">Сиёсат</a>
                                                            </li>
                                                                                <li class="">
                                <a href="https://zarnews.uz/iqtisodiyot">Иқтисодиёт</a>
                                                            </li>
                                                                                <li class="nav__dropdown">
                                <a href="https://zarnews.uz/jamiyat">Жамият</a>
                                                                    <ul class="nav__dropdown-menu">
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/ta-lim">
                                                    Таълим                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/madaniyat">
                                                    Маданият                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/salomatlik">
                                                    Саломатлик                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/hodisa">
                                                    Ҳодиса                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/sport-xabarlari">
                                                    Спорт                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/sayohat">
                                                    Саёҳат                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/afisha">
                                                    Афиша                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/qonun-va-hujjatlar">
                                                    Қонун ва ҳужжатлар                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/yo-riqnoma">
                                                    Йўриқнома                                                </a>
                                            </li>
                                                                            </ul>
                                                            </li>
                                                                                <li class="nav__dropdown">
                                <a href="https://zarnews.uz/ruknlar">Рукнлар</a>
                                                                    <ul class="nav__dropdown-menu">
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/saylov-2021">
                                                    Сайлов 2021                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/mutolaa">
                                                    Мутолаа                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/maslahat">
                                                    Маслаҳат                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/soragan-edingiz">
                                                    Сўраган эдингиз                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/zarnewsda-suhbat">
                                                    Zarnews'да суҳбат                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/jinoyatvajazo">
                                                    Жиноят ва жазо                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/tijorat">
                                                    Тижорат                                                </a>
                                            </li>
                                                                                                                                                                            <li>
                                                <a href="https://zarnews.uz/oqing-qiziq">
                                                    Ўқинг, қизиқ!                                                </a>
                                            </li>
                                                                            </ul>
                                                            </li>
                                                                                <li class="nav__dropdown">
                                <a href="https://zarnews.uz/media">Медиа</a>
                                                                    <ul class="nav__dropdown-menu">
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/fotoxabarlar">
                                                    Фотохабарлар                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/videoxabarlar">
                                                    Видеохабарлар                                                </a>
                                            </li>
                                                                                                                                <li>
                                                <a href="https://zarnews.uz/audioxabarlar">
                                                    Аудио хабарлар                                                </a>
                                            </li>
                                                                            </ul>
                                                            </li>
                                                                                
                                            </ul> <!-- end menu -->
                </nav> <!-- end nav-wrap -->

                <!-- Nav Right -->
                <div class="nav__right">
                    <!-- Search -->
                    <div class="nav__right-item nav__search">
                        <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                            <i class="ui-search nav__search-trigger-icon"></i>
                        </a>
                        <div class="nav__search-box" id="nav__search-box">
                            <form class="nav__search-form" action="/search" method="get">
                                <input type="text" placeholder="Қидирув..."
                                       class="nav__search-input" name="q">
                                <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                    <i class="ui-search nav__search-icon"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                </div> <!-- end nav right -->

            </div> <!-- end flex-parent -->
        </div> <!-- end container -->

    </div>
</header> <!-- end navigation -->