{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load mptt_tags %}

{% block content %}
        <div class="main-panel">
            {% include 'inc/header.html' %}
            <div class="main-content">
                <ul class="breadcrumb ">
                    <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                    <li class="active">Post</li>
                </ul>
                <div class="button-panel">
                    <a class="btn btn-fab btn-raised btn-primary" href="#" title="Create news Post"><i class="fa fa-plus"></i></a>
                </div>

                <div class="row">
                    <div class="col col-md-6">

                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <div class="pull-left" style="font-size: 18px;">Categories</div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-sm btn-primary">+Root</button>
                                </div>
                            </div>
                            <div class="panel-body">
                                  
                                {% for genre,structure in news|tree_info %}
                                    {% if structure.new_level %}<ul><li class="list-unstyled">{% else %}</li><li class="list-unstyled" >{% endif %}
                                        <div class="input-group input-group" style="margin-left:-40px; margin-top: 5px;">
                                            <span class="input-group-addon"><i class="fa fa-bars"></i></span>	
                                            <input type="text" class="form-control" placeholder="{{ genre.name }}">
                                        </div>
                                    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                                {% endfor %}
                                
                            </div>

                        </div>
                        
                    </div>
                    <div class="col col-md-6">
                        <!-- createcategory.html -->
                        {% include 'inc/createcategory.html' %}
                    </div>
                </div>
                         
            </div>
        </div>
    <script>
        function changeAttribute(id, att) {
            var data = {};
            data.id = id;
            data.attribute = att;
            $.get('/post/change', data)
        }
    </script>
{% endblock %}