{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="main-panel">
    {% include 'inc/header.html' %}
    <div class="main-content">
        <ul class="breadcrumb ">
            <li class="active">Post Yaratish</li>
        </ul>
        <div class="panel panel-default">
            <form action="" method="post">
                {% csrf_token %}
                <div class="panel-body col-lg-8">                        
                    <fieldset class="col-lg-11">
                        <div class="form-group">
                            <label for="name" style="color:black;">Name</label>
                            {% render_field form.name type="text" name="name" id="disabledTextInput" class="form-control" placeholder="Name" %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="slug" style="color:black;">Slug</label>
                            {% render_field form.slug name="slug" type="text" id="disabledTextInput" class="form-control" placeholder="Slug" %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="short" style="color:black;">Qisqacha ma'lumot</label>
                            {% render_field form.short_info class="form-control" name="short" %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="full" style="color:black;">To'liq ma'lumot</label>
                            {% render_field form.description name="full" type="text" id="disabledTextInput" class="form-control" placeholder="Description" %}
                        </div>
                        <hr>
                        <div class="form-check">
                            {% render_field form.is_main class="form-check-input" type="checkbox" %}
                            <label class="form-check-label">
                                Is hidden
                            </label>
                        </div>
                    </fieldset>
                </div> 
                <div class="panel-body col-lg-4">
                    <fieldset class="col-lg-11">
                        <div class="form-group">
                            <label for="category" style="color:black;">Category</label>
                            {% render_field form.category type="text" name="name" id="disabledTextInput" class="form-control" placeholder="Name" %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="status" style="color:black;">Status</label>
                            {% render_field form.status name="status" type="text" id="disabledTextInput" class="form-control" placeholder="Slug" %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="tags" style="color:black;">Tags</label>
                            {% render_field form.tags class="form-control" name="tags" %}
                        </div>
                        <hr>                      
                        <div class="form-group">
                            <label for="img" style="color:black;">Rasm</label>
                            {% render_field form.img class="form-control" name="img" %}
                        </div>
                        <hr>
                    </fieldset>
                </div>                
                <hr>
                <button type="submit" style="width: 100%;" class="btn btn-primary"> Submit</button>
            </form>
        </div>
    </div>
</div>



















<script>
function changeAttribute(id, att) {
    var data = {};
    data.id = id;
    data.attribute = att;
    $.get('/post/change', data)
}
</script>


{% endblock content %}